In [1]:
import pandas as pd

In [2]:
groceries=pd.read_csv("main.csv")

In [3]:
groceries.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [6]:
groceries["sales_amount"]=groceries["sales_quantity"].where(
    groceries["unit"]!="pcs",
    groceries["product_description"].str.split("-",expand=True)[1].astype("float")*\
    groceries["sales_quantity"]
)

In [8]:
groceries.tail()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,sales_amount
295,1203,butter-0.25,dairy,2021-11-26,11.9,31,pcs,7.75
296,1203,butter-0.25,dairy,2021-11-27,11.9,29,pcs,7.25
297,1203,butter-0.25,dairy,2021-11-28,11.9,37,pcs,9.25
298,1203,butter-0.25,dairy,2021-11-29,11.9,34,pcs,8.50
299,1203,butter-0.25,dairy,2021-11-30,11.9,36,pcs,9.00